@media (width < 992px){
  .log-btn{
    margin: 15px 0 5px 0;
    float:left;
  }
  .close{
    display: none;
  }
  .navbar-brand{
    display: none;
  }
  #navbarsExampleDefault{
    display: none;
  }
}

.saveButton{
  margin-top:10px;
}
.hide{
  display: none;
}
/* Работает в Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(11, 11, 11) rgb(18, 132, 61);
}

/* Работает в Chrome, Edge и Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  border: 3px solid rgb(23, 22, 22);
}
